/* Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

/* Formulario de inicio de sesión */
.home-form {
    background: white;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    padding: 24px;
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
}

.username {
    margin-top: 20px;
    margin-left: 20px;
    color: blue; /* Cambia el color del texto a azul */
    font-size: 24px; /* Aumenta el tamaño de la fuente */
}


.wallet-balance {
    margin-top: 20px;
    margin-left: 20px;
    color: blue; /* Cambia el color del texto a azul */
    font-size: 24px; /* Aumenta el tamaño de la fuente */
}

.wallet-balance h3, .wallet-balance p {
    margin: 0;
}

.history-button {
    margin: 20px;
    position: relative;
    bottom: 0;
    right: 20px;
}

.scan-button {
    position: relative; /* Cambiar a relative */
    margin-bottom: 20px; /* Ajustar espacio inferior para posicionar arriba del botón de historial */
    margin-left: auto; /* Para alinear a la derecha */
    width: 100px; /* Ajuste de tamaño si es necesario */
    height: 80px; /* Ajuste de tamaño si es necesario */
    font-size: 16px;
    border-radius: 50%;
    background: #3880ff; /* Eliminado '--' para asegurar consistencia */
    color: white; /* Eliminado '--' para asegurar consistencia */
}
.back-button {
    color: #fff;
    position: absolute;
    top: 630px; /* Ajusta según sea necesario */
    left: 10px; /* Ajusta según sea necesario */
    padding: 10px 20px; /* Añadiendo un poco de padding para mejor apariencia */
    border-radius: 5px; /* Bordes redondeados */
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  }